body{
    background-color: black;
}

header{
    min-height: 100vh;
}

#h1{
    font-size: 90px; 
    color: white; 
    text-align: center;
    position: relative;
    animation: move 5s;
    animation-fill-mode: forwards;
    transform: translateY(20px 0px);

}

@keyframes move{
    from{opacity: 0;}
    to  {opacity: 1;}
}

#resumoEFoto{
    display: flex;
    justify-content: space-between;
    text-align: left;
    
}

#paragrafoResumo{
    text-align: center;
    padding: 100px;
    position: relative;
    animation: move 5s;
    animation-fill-mode: forwards;
    transform: translateY(20px 0px);
}

#botao{
    display: flex;
    justify-content: left;
    gap: 80px;
    height: auto;
    position: relative;
    animation: mymove 5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes mymove{
    from{left:0px}
    to  {left:450px}
}


.botao{
    padding: 12px 24px;
    background-color: purple;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 5px 5px;
    
}

#imagemPerfil{
    position: relative;
    animation: move 5s;
    animation-fill-mode: forwards;
    transform: translateY(20px 0px);
    margin-right: 100px;
    margin-top: 80px;

}

hr{
    background-color: purple;
    border-color: purple;
    height: 5px;
}

.divProjeto{
    display: flex;
    justify-content: space-around;

}

.divProjeto div{
    max-width: 300px;
    border-radius: 40px;
    padding: 40px;
    background-color:purple;
    color: white;
    margin-bottom: 50px;
    box-shadow: 5px 10px;

}

.imagemProjeto{
    width: 100%;
    
}

#paragrafo{
    display: flex;
    justify-content: center;
    max-width: 500px;

}

#imgLogoGitProjeto{
    box-shadow: 2px 2px #515151;
}
